:root{
    --white-text: #fff;
    --backgroud:#c8e8f1;
    --black-text:rgb(68, 66, 66) 
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: var(--backgroud);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    background-color: var(--white-text);
    border-radius: 1rem;
    margin: 1.5rem;
    overflow: hidden;
    width: 30rem;
    height: 19rem;
}

.card h2 {
    letter-spacing: .1rem;
    margin: 1rem 0; 
}

.left-column {
    padding: 2rem;
    max-width: 10rem;
}